* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-family: 'Trebuchet MS', sans-serif;  
  /* max-width: 1300px;
  margin: 0 auto; */
  width: 100%;
}

.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 70px;
  background: linear-gradient(to bottom, rgb(225, 234, 250), rgba(154, 188, 255, 0));

}

.navbar a{
  color: #6578b5;
  text-decoration: none;
  font-weight: bolder;
}

.navbar-kiri{
  width: 200px;
  margin-left: 100px;
  text-align: left;
}

.navbar-kiri a{
  font-size: 20px;
}

.navbar-kanan{
  width: 500px;
  text-align: right;
  margin-right: 20px;
}

.navbar-kanan a{
  margin-right: 20px;
  font-size: 16px;
}

.Perkenalan{
  width: 100%;
  height: 430px;
  margin-top: 10%;
  text-align: center;
  
}

.Perkenalan img {
  position: absolute;
  width: 1000px;
  margin-left: -500px;
  margin-top: -220px;
  z-index: -1;
}

.Perkenalan .isiPerkenalan {
  background: radial-gradient(circle, rgba(26, 85, 141, 0.5), rgba(0, 0, 0, 0));
  padding: 50px;
  width: 50%;
  max-width: 1200px;
  margin: 0 auto;
  color: white;
}

.Perkenalan .isiPerkenalan h1{
  margin-bottom: 10px;
}

.Perkenalan .isiPerkenalan p{
  margin-bottom: 50px;
}

.Perkenalan .isiPerkenalan a{
  border: none;
  color: white;
}

.Perkenalan button{
  margin: 7px;
}

.judulaboutme{
  text-align: center;
  margin-bottom: 25px;
}

.diri{
  display: flex;
  justify-content: center;
  text-align: justify;
  align-items: center;
  width: 100%;
  background-color: #c1dcff;
}

.diri img{
  width: 250px;
  border-radius: 360px;
}

.diri p{
  width: 500px;
  align-content: center;
  margin-left: 50px;
  line-height: 20px;
}


.judulprojek{
  text-align: center;
  margin-top: 100px;
  margin-bottom: 20px;
}

.card-container {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center; 
  padding: 20px;
}

.cards{
  margin: 2px;
  text-align: center;
  width: 350px;
}



.cards .media {
  position: relative;
  width: 100%;
}

.cards .card-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity 0.3s ease;
  border: 1.5px solid #2b418b;
}

.cards .card-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.cards:hover .card-image {
  opacity: 0;
}

.cards:hover .card-video {
  opacity: 1;
}


.footer{
  width: 100%;
  height: 400px;
  background-color: #c1dcff;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
  color:#2b418b;
}

.footer .footer-kiri{
  justify-content: center;
  text-align: center;
  width: 400px;
  height: 250px;
}

.footer .footer-kiri h3{
  margin-top: -10px;
  font-size: 40px;
  margin-bottom: 20px;
}

.footer .footer-kiri .isifooter1{
  font-size: 17px;
  margin-bottom: 20px;
}

.footer .footer-kiri .isifooter2{
  font-size: 15px;
}

.footer .footer-kiri .isifooter3{
  margin-top: 30px;
  font-size: 13px;
}

.footer .footer-kiri img{
  cursor: pointer;
  margin-top: 30px;
  width: 30px;
  align-items: center;
  margin-right: 10px;
}